.about-title {
    color: #B0843F;
    text-shadow: 2px 2px 10px #000000;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    line-height: 100vh;
    font-size: 3rem;
    font-weight: 700;
    background: url(../Picture/bg.jpg);
    background-size: cover;
}

.about-title h1{
    background: linear-gradient(0deg, rgb(245, 240, 238) 0.5%, rgba(253, 253, 255, 0) 80%);
}
#aboutmain{
    
    font-family: poppins, sans-serif;
}
.about-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    background-color: rgb(245, 240, 238);
    padding: 2%;
    gap: 2rem;
}

.about-information h1 {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 4em;
    
}

.about-content {
    
    background:rgba(27, 27, 27, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10%;
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}

.about-content img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 10px 13px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.about-content p {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.6em;
    flex: 1;
    padding: 25px;
    z-index: 1;
}

.about-teams {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    background-image: url(../Picture/Background.png);
}

.teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    
}

.teams-person {
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    max-width: 100%;
    border: 1px solid white;
}

.teams-person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(0, 0, 0);
}

.teams-person h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.teams-person p {
    color: #666;
}