main{
    background-color: white;
    
}

.credit-part {
    
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5%;
}

.credit-part h1 {
    color: #B0843F;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.6);
    font-size: 3rem;
    margin: 10px auto;
}
.credit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.credit-item{
    
    padding: 5px;
    transition: 0.5s;
}

.credit-item img {
    max-width: 90%;
    height: 150px; 
    border-radius: 5px;
    border: 2px solid #000000;
}
.credit-item:hover {
    transform: scale(1.2);
    background-color: #B0843F;
    cursor: pointer;
}
