@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #5a4231;
    border-radius: 5px;
    border: 1px solid #272625; /* Outline effect */
}

::-webkit-scrollbar-thumb:hover {
    background: #4d3629; /* Darker brown when hovered */
}

::-webkit-scrollbar-track {
    background: #f5f3f0; /* Nude background */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html,
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-image: url(../Picture/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: poppins, sans-serif;
}

main {
    flex: 1;
    background-size: cover;
    background-position: center;
}



nav {
    width: 100%;
    z-index: 40;
    background-color: #f8f6f3;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    /*height: 60px;*/
}
ul img {
    margin-left: 25px;
    padding: 5px;
}
nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    
}

nav img {
    width: 50px;
    height: auto;
    transform: scale(1.5);
    display: block;
}

nav a {
    text-decoration: none;
    color: rgb(128, 62, 62);
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.5s;
}

nav a:hover {
    background-color: #f1f1f1;
    transform: translateY(-5px);
    color: #e7ae34;
}

nav a:active{
    transform: scale(1.1);
    background:rgb(146, 103, 63);
}

nav li:first-child {
    margin-right: auto;
}

.menuButton {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(146, 103, 63,0.8);
    box-shadow: 10 0 10px rgba(0, 0, 0, 0.1) 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s ease;
    display: none;
    align-items: flex-end;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

span {
    color: #5a4231;
    border-bottom: 1px solid #B0843F;
}

footer span {
    color: #B0843F;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(22, 22, 22, 1);
    color: #DED6CB;
    text-align: center;
    padding: 5px 0;
    font-size: 0.9rem;
}

.footer-container {
    flex-wrap: wrap;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.box img {
    width: 100%;
    max-width: 150px;
    height: auto;
}


.logo {
  flex: 1;
}

.logo img {
    width: 100%;
    max-width: 50px;
    height: auto;
   

}

.about {
    flex: 1;
}

.links {
    flex: 1;
}

.links li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links li a {
    padding: 0 5%;
    margin-bottom: 5px;
    color: #DED6CB;
}
.links li a:hover {
    color: #B0843F;
}
.contact {
    flex: 1;
}

.footer-container h1 {
    color: #B0843F;
}

.footer-container p{
    color: #DED6CB;
}


@media screen and (max-width: 768px) {
    nav img {
        margin-left: 10px;
    }
    .teams-container {
        flex-direction: column;
        align-items: center;
    }

    /* for footer */
    footer {
        position: relative;
    }
    .box img {
        min-width: 120px;
        height: auto;
    }
    .footer-container {
 
        align-items: center;
    }

    footer p {
        font-size: 1em;

        }

    .box li a {
        font-size: 1.2em;
    }
   .links {
        width: 100%;
    }
    .links li {
        gap: 50px;
    }
    /* end footer */

    .about-content {
        flex-direction: column;
        padding: 50px;
      
    }

    .about-content img {
        order: -1;
        width: 100%;
        height: 100%;
    }

    .about-content p {
        font-size: 1.3em;
        flex: 1;
        text-align: center;
    }

    .about-information h1 {
        font-size: 2.5em;
    }

    .hideOnMobile {
        display: none;
    }

    .menuButton {
        display: block;
    }


    .footer-container {
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
    }

    .logo img {
        display: none;
    }

    .sidebar a{
       color: white;
    }

    span {
        color:white;
        border-bottom: 1px solid white;
    }

    /* Remove hover effects in mobile view */
    nav a:hover {
        background-color: unset;
        transform: unset;
        color: unset;
    }

    nav a:active {
        transform: unset;
        background: unset;
    }
}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
