@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.order-summary h1, .order-summary h2 {
    margin-bottom: 20px;
}

.order-summary .form-group {
    margin-bottom: 15px;
}

.order-summary label {
    display: block;
    font-size: 1.1em;
}

.order-summary input {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.order-summary input:focus {
    border-color: #4CAF50;
}

#confirmation-section {
    padding: 20px;
    border-radius: 8px;
}

.confirmation-details, .confirmation-order {
    margin-bottom: 20px;
    padding: 5%;
    border: 1px solid black;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.confirmation-details h3, .confirmation-order h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.confirmation-details p, .confirmation-order p {
    margin: 5px 0;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2e6130;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.modal-content {
    border: 2px solid white;
    background:rgba(255, 255, 255, 0.7);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.order-summary, .customer-form {
    padding: 20px;
    margin: 25px auto; /* Added top margin for spacing */
    width: 90%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.customer-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}


.customer-form button {
    width: 100%; /* Make button full width */
    padding: 12px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.customer-form button:hover {
    background-color: #45a049;
}