@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 2%;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.order-summary h1, .order-summary h2 {
    margin-bottom: 20px;
}

.order-summary .form-group {
    margin-bottom: 15px;
}

.order-summary label {
    display: block;
    font-size: 1.1em;
}

.order-summary input {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.order-summary input:focus {
    border-color: #4CAF50;
}

#confirmation-section {
    padding: 20px;
    border-radius: 8px;
}


.cancel-button {
    width: 100%; /* Make button full width */
    padding: 12px 20px;
    margin-top: 20px;
    background-color: rgb(231, 44, 44);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.cancel-button:hover {
    background-color: rgb(200, 30, 30);
}

.confirmation-details, .confirmation-order {
    margin-bottom: 20px;
    padding: 5%;
    border: 1px solid black;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.confirmation-details h3, .confirmation-order h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.confirmation-details p, .confirmation-order p {
    margin: 5px 0;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2e6130;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.modal-content {
    border: 2px solid white;
    background:rgba(255, 255, 255, 0.7);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.order-summary, .customer-form {
    width: 80%;
    max-width: 350px;
    height: auto; /* Allow height to adjust naturally */
    max-height: 400px; /* Limit max height */
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.order-summary #order-items{
    min-height: 54%;
}

.customer-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}


.customer-form button {
    width: 100%; /* Make button full width */
    padding: 12px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.customer-form button:hover {
    background-color: #45a049;
}

@media (max-width: 756px){
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .order-summary #order-items{
        min-height: 0%;
    }
}